* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color:  #020b05;
    color: #f0eee9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #2b1910;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 92%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #black;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #110e02;
    color: #c1891c;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}








