* {
    margin: 1px;
    padding: 2px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url("");
    color: #333;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
input[type="Description"] {
    width: 92%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #black;
}

textarea {
    width: 92%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
}


[type="button"]:hover {
    background-color: #0056b3;
}

button {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;

}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

