<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Long+Cang|Montserrat:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="icon" href="/chemin/vers/votre/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/confirmation.styles.css">
    <title>Paris 2024</title>
</head>
<body>
    <div class="vp-container">
        <header>
            <h2 class="vp-logo">
                <i class="fas fa-crown"></i>
                <a href="#">Paris 2024</a>
            </h2>
            <ul>
                <li><a href="{{ url_for('index') }}">Retour à l'accueil</a></li>
            </ul>
        </header>
        <section class="vp">
            <div class="vp-content">
                <h2>Merci pour votre achat! Voici votre qrcode ci-dessous</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div>
                            {% for category, message in messages %}
                                {% if message != 'Connexion admin réussie!' %}
                                    <div class="{{ category }}">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <!-- énumeration des offres présent dans la base de données -->
                        <!-- Afficher les détails de la commande -->
                        <div>
                            <img src="/static/qrcode/{{qrcode_filename}}" alt="qrcode">
                            <br>
                            <a href="/static/qrcode/{{qrcode_filename}}" download style="color: #fff;">Télécharger</a>
                        </div>
            </div>
        </section>
        <footer>
            Copyright © Jo de Paris 2024.
        </footer>
    </div>
</body>
</html>
